html,
body {
  margin: 0;
}

#light {
  background: rgb(255, 255, 255);
  background: radial-gradient(circle, rgba(255, 255, 255, 0.2665660014005602) 0%, rgba(255, 236, 208, 1) 100%);
}

#dark {
  background-color: #393e46;
}