.card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 30px;
  margin-left: 400px;
  min-height: 30rem;
}
.form-chat {
  max-width: 350px;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0px 3px 24px -8px rgba(0, 0, 0, 0.75);
}

.name-field {
  margin-bottom: 40px;
}

.send-message {
  margin-top: 20px;
  padding: 10px;
  background: transparent;
  border-radius: 5px;
}

.render-chat {
  max-width: 350px;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0px 3px 24px -8px rgba(0, 0, 0, 0.75);
}

h3 {
  color: #2f72da;
}

.message-sent {
  color: black;
}

.page {
  height: 1000px;
}