.animated-images {
  position: absolute;
  width: 100%;
  height: 100%;

  .bubbles-image {
    position: inherit;
    left: 82%;
    top: 20%;
    animation: bubbles-load 1300ms ease-out 1500ms;
    opacity: 0;
    animation-fill-mode: forwards;
  }

  .horn-image {
    position: inherit;
    left: 2%;
    top: 40%;
    animation: horn-load 300ms ease-out 2300ms;
    animation-fill-mode: forwards;
    scale: 0;
  }

  .meet-image {
    position: inherit;
    top: 106%;
    left: 2%;
  }

  .signup-image {
    position: inherit;
    left: 82%;
    top: 155%;
  }
}

@keyframes bubbles-load {
  0% {
    transform: rotateZ(35deg);
  }

  100% {
    transform: rotateZ(0deg);
    opacity: 1;
  }
}

@keyframes horn-load {
  0% {
    scale: 0;
  }

  65% {
    scale: 1.2
  }

  85% {
    scale: .8;
  }

  100% {
    scale: 1;
  }
}